#formato 
{
    display: grid;
    grid-template-columns: 1fr 5fr 2fr;
    grid-template-rows: 
        minmax(100px,auto) minmax(0px,auto)
        minmax(600px,auto) minmax(80px,auto);
    grid-template-areas: 
            "header header header"
            "nav section aside"
            "n1 section aside"
            "footer footer footer";
    text-align: center;
    margin: 0 auto;
    gap: 5px;
    background-color: #ffc2c2;
}