section
{
    grid-area: section;
    background-color: #c06c8452;
    border-radius: 5px;
    margin: 5px 5px 5px 5px;
}



#contenedor{
    width: 100%;
    height: 1800px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: space-around;
    
}

#contenedor > div{
    width: 35%;
    min-height: 300px;
    background-color: coral;
    border: 1px solid black;
    box-sizing: border-box;  
}
#contenedor > div > img {
    width: 200px;
    height: 200px;
    margin-top: 5px;
}

#siguiente{
    display: flex;
    width: 100%;
    height: 25px;
    flex-flow: row wrap;
    justify-content: center;
    margin-top: 50px;
    

}

#siguiente > div{
    box-sizing: border-box;
    border: 1px solid black;
    Padding: 5px 10px;
    border-radius: 2px;
    
}

section > img{
    margin-top: 25px;
}
ul{
    text-align: center;
    list-style: none;
}

@media only screen and (max-width:600px){
    #contenedor{
        flex-direction: column;
        flex-wrap: nowrap;   
        height: auto; 
        align-items: center;
        
    }
    #contenedor > div{
        margin: 10px 0px;
        width: 90%;

    }
    #formato{
        grid-template-rows: 
        minmax(100px, auto) minmax(auto, auto)
        minmax(auto, auto) minmax(100px, auto);
    }
}

